:root{
    --primary-color: #181818;
    --secondary-color: #ff6600;
    --neutral-color: white;
    --text-color: rgb(82, 81, 81);
}

.list-news-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.news-link{
    width: 100%;
    text-decoration: none;
    color: var(--primary-color);
}

.news-link-wrapper{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    border-top: 1px solid var(--text-color);
    padding: 1.5rem;
}
.news-img{
    width: 15rem;
    overflow: hidden;
    height: 8rem;
    margin-right: 1.5rem;
}

.news-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
}

.news-link:hover .news-img img{
    transform: scale(1.10);
    transition: 0.3s ease-in-out;
}

.new-desc-wrapper{
    
}

.see-more-btn{
    margin-top: 32px;
    margin-bottom: 80px;
}

.news-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.news-detail-img{
    width: 75rem;
}

.news-detail-img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.news-detail-desc{
    text-align: center;
    padding: 32px;
}

.news-detail-title{
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 2px 2px 2px var(--secondary-color);
    margin-bottom: 16px;
}

.news-detail-subtitle{
    font-size: 1.5rem;
    margin-bottom: 32px;
}

.detail-text-container{
    background-color: var(--text-color);
    color: var(--neutral-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.detail-text-wrapper{
    max-width: 45rem;
    margin-top: 80px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.introduction-text{
    border-bottom: 1px solid var(--neutral-color);
    padding-bottom: 80px;
    margin-bottom: 80px;
}
.introduction-text p{
    font-size: 1.5rem;
}
.info-text{
    border-bottom: 1px solid var(--neutral-color);
    padding-bottom: 64px;
    margin-bottom: 32px;
}
.info-text p{
    font-size: 1.5rem;
}



@media(max-width: 768px){
    .see-more-btn{
        max-width: 80%;
    }
    .news-link-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .news-img{
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
    }
    .news-detail-img{
        width: 40rem;
    }
}