* {
    font-size: 16px; /* Base font size */
    padding: 0;
    margin:0;
}

@font-face {
    font-family: 'Sharetech';
    src: url('../assets/font/ShareTech-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Baron Neue Bold';
    src: url('../assets/font/Baron Neue Bold.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

section{
    padding-top: 80px;
}

body{
    margin: 0;
    font-family: 'Sharetech';
    background-image: url(../assets/partial/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.title-wrapper{
    font-family: 'Baron Neue Bold';
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p, button {
    font-size: 1rem;
}

small {
    font-size: 0.875rem;
}

@media (max-width: 1023px) {
    html{
        font-size: 70%;
        height: 70%;
    }
}

@media(max-width: 599px) {
    html{
        font-size: 60%;
        height: 60%;
    }
}

@media(max-width: 424px){
    html{
        font-size: 50%;
        height: 50%;
    }
}

:root{
    --primary-color: #181818;
    --secondary-color: #ff6600;
    --neutral-color: white;
    --text-color: rgb(82, 81, 81);
}

nav{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.link-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 32px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--neutral-color);
}

nav a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--neutral-color);
}

nav .logo:hover{
    border-bottom: 0;
}

.bug-report{
    margin-left: auto;
    margin-right: 40px;
    height: 70%;
    background-color: var(--secondary-color);
}
.bug-report:hover{
    color: var(--secondary-color);
    background-color: var(--neutral-color);
    border: 2px solid var(--secondary-color);
    border-right: 4px solid var(--secondary-color);
    border-bottom: 6px solid var(--secondary-color);
    transition: .3s ease-in-out;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    padding: 0 32px;
    display: none;
}

.logo{
    margin-left: 16px;
    display: block;
    border-right: 1px solid var(--text-color);
}

.logo img{
    width: 48px;
    padding-right: 16px;
}

.logo-responsive{
    display: none;
}


@media(max-width: 1023px){
    .link-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 240px;
        background-color: var(--primary-color);
        box-shadow: -5px 0 5px var(--primary-color);
        transition: .5s ease-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 32px 48px;
        justify-content: flex-start;
        border-bottom: 1px solid var(--text-color);
        margin-left:0;
    }

    .bug-report{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 32px 64px;
        justify-content: flex-start;
        border-bottom: 1px solid var(--text-color);
        background-color: var(--primary-color);
        border-radius: 0;
        padding-left: 50px;
    }

    .open-sidebar-button, .close-sidebar-button{
        display: block ;
        margin-left: auto;

    }

    .close-sidebar-button{
        margin-top: 24px;
        border-bottom: 1px solid var(--text-color);
    }
    
    #sidebar-active:checked ~ .link-container{
        right: 0;
    }

    .logo-container{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        /* justify-content: space-evenly; */
    }
    .logo{
        margin: 0;
        padding: 16px 48px;
        border-right: 0;
    }

    .logo-responsive{
        display:block;
        margin-left: 32px;
        width: 48px;
    }
}

@media(min-width: 1024px){
    
}
